doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Admin page
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css",rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
        style
            include ../style/index.css
        script
            include ../script/hide.js
    body 
        div(class="container")
            h1 Vehicle Theft Admin Page
            hr
            div(class="container")  
                form(action="#",method="post")
                    div(class="form-group")
                        label(for="ncat",class="form-label") Category Name
                        input(type="text" id="ncat" name = "category" class="form-control")
                    div(class="form-group")
                        label(for="ans",class="form-label") Select Answer Type
                        select(name="anstype" id="ans")
                            option(value="Single") Single Answer
                            option(value="Multiple") Multiple Answer
                    div(class="form-group")
                        button(type="submit" class="btn btn-primary") Add Category
                hr
                h3(class="heading") Categories
                table(class="table") 
                    thead 
                        tr
                            th(scope="col") Category Name
                            th(scope="col") Answer Type
                            th(scope="col") Add Question
                    tbody
                        each i in cat 
                            tr
                                td= i.category
                                td= i.anstype
                                td 
                                    button(class="btn btn-info" id="1") Add
                div(id="hide")
                    form(action="#",method="post")
                        div(class="form-group")
                            label(for="question",class="form-label") Enter Question
                            input(type="text" id="question" name = "question" class="form-control")
                        div(class="form-group")
                            label(for="ans",class="form-label") Select Answer Type
                            select(name="anstype" id="ans")
                                option(value="Single") Single Answer
                                option(value="Multiple") Multiple Answer
                        div(class="form-group")
                            button(type="submit" class="btn btn-primary") Add Category
                         
                           
                
                
                
        

        