body{
    margin: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

td{
    padding-right: 30px;
    text-align: left;
    font-weight: bold;
}

th{
    padding-right: 30px;
    text-align: left; 
}



/* section 1: Structural pseudo-classes */
/* first-child  */
.type1 p:first-child{
    color: #8843F2;
}

/* last-child  */
.type1 p:last-child{
    color: #EF2F88;
}

/* nth-child(#)  */
.type1 p:nth-child(4){
    color: #F47340;
}

/* :nth-child(odd/even)  */
.type2 p:nth-child(even){
    color: #049d25;
}

.type2 p:nth-child(odd){
    color: #ff0505;
}

/* nth-child(2n)  */
.type3 p:nth-child(2n){
    color: #FF9234;
}

/* nth-child(3n+4)  */
.type1 p:nth-child(3n+7){
    color: #C7956D;
}

/* nth-child(3n-4)  */
.type1 p:nth-child(3n-3){
    color: #15c2b3;
}