doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Result
    body
        //- -------------- Navbar -------------- 
        nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #F0D9FF;')
            .container-fluid
                a.navbar-brand(style='color: #9760ca; padding-left: 20px;') Project
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.active(href='/') User Panel
                        li.nav-item
                            a.nav-link.active(href='/dashboard') Admin Dashboard
                        li.nav-item
                            a.nav-link.active(href='/result') Result

        //- -------------- End Navbar -------------- 

        h1 User Result

        each result in results
            h5= "Name: " + result.username 
            h5= "Score: " + result.score